.App {
  text-align: center;
}
.row {
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.form-control {
  /* display: none; */
}
.container {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.imgHolder {
  margin: 20px;
}

textarea {
  height: 5em;
  width: 100%;
  white-space: pre-line;
  margin: 20px;
  overflow: auto;
  text-rendering: auto;
  color: aliceblue;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: start;
  background-color: #343a40;
  display: block;
  padding: auto;
  font-size: 1rem;
  font-weight: 400;
  text-emphasis-color: inherit;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
}
#prediction-sidebar {
  background-color: #eee;
  width: 120%;
  height: 30em;
}
#text-area {
  margin-right: 40px;
}
.image-upload {
  background-color: #282c34;
  opacity: 0;
}
#customFile {
  display: none;
  visibility: none;
}
